<div class="container w-50 mx-auto mt-5">
    <h1 class="text-primary  mt-4 fw-normal mb-3">Registro de Personas</h1>
    <app-form *ngIf="valores" [values]="valores"></app-form>
    <form (ngSubmit)="onSubmit(contactForm.value)" #contactForm="ngForm">
        <div class="mb-3">
            <label for="" class="form-label fw-bold">Nombre:</label>
            <input type="text" name="nombre" class="form-control" id="nombre" [(ngModel)]="model.nombre" required>
        </div>
       
        <div class="mb-3">
            <label for="" class="form-label fw-bold">DNI:</label>
            <input type="number" name="dni" class="form-control" id="dni" [(ngModel)]="model.dni">
        </div>

        <div class="mb-3">
            <label for="" class="form-label fw-bold">Estado Civil:</label>
            <select class="form-select" name="estado_civil" [(ngModel)]="model.estado_civil">
              <option selected >Seleccione</option>
              <option value="soltero">Soltero</option>
              <option value="casado">Casado</option>
              <option value="divorciado">Divorciado</option>
              <option value="viudo">Viudo</option>
            </select>
        </div>
        
        <div class="mb-3">
            <button type="submit" [ngStyle]="{'background-color':'#5cb85c'}" class="btn btn-success">Enviar</button>
        </div>        
    </form>
</div>
